.jumbotron {
    background-image: url(../images/image3.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
}
.image-text {
    background: rgba(0, 0, 0, 0.6);
}
.mainContent {
    margin-bottom: 50px;
}
.mainContent .col-md-2 {
    flex: 0 0 21.666667%;
    max-width: 22.666667%;
}
.activeUsers {
    margin-top:10px;
    padding:10px;
    border: 1px solid #e2e2e2;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.activeUsers ul{
    padding-left: 5px;
}
.activeUsers ul li{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.mostLiked {
    margin-top:10px;
    padding:10px;
    border: 1px solid #e2e2e2;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.mostLiked ul{
    padding-left: 5px;
}
.mostLiked ul li {    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.mainContent .loadMoreBtn {
    text-align: center;
    margin-top: 20px;
}

.loadMoreBtn button{
    background: none;
    border: 1px solid lightgray;
}

@media (max-width: 778px) {
.mainContent .col-md-2 {
    flex: 0 0 100%;
    max-width: 100%;
}
.sideBar {
    padding-left: 25px;
    padding-right: 25px;
}
}