.jumbotron {
    background-image: url(../images/image3.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    margin-top: 56px;
}
.image-text {
    background: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}