.navbar-brand {
    color: #fff!important;
    opacity: .9;
    font-family: 'Arial Black';
    font-size: 1.5rem;
}
.dot {
    color: red;
    font-size: 1rem;
}
a {
    color: #333;
    font-weight: 200;
}
.logo {
    margin-right: 10px;
}
.navbar-nav {
    text-align: center;
}
.menuIcon {
    height: 30px;
}
.menuIcon:hover {
    cursor: pointer;
}
.navbar-toggler {
    border: none;
    top: 2px;
}

@media (max-width: 576px) { 
.container {
    margin: 0;
}
}