.settingsIcon {
    height: 15px;
    width: 15px;
    margin-top: -2px;
}
.dropdown-toggle::after {
    vertical-align: 1px;
    margin-top: -7px;
    color: rgba(255,255,255,.5);
}

img.avatar {
  border: 1px solid #eee;
}

.only-bottom-margin {
  margin-top: 0px;
}

.activity-mini {
  padding-right: 15px;
  float: left;
}