.questionText {/* 
    background: #f9f9f9; */
    /* -webkit-box-shadow: 5px 5px 5px 0px rgba(219,216,219,.6);
    -moz-box-shadow: 5px 5px 5px 0px rgba(219,216,219,.6);
    box-shadow: 5px 5px 5px 0px rgba(219,216,219,.6); */
    margin:10px;
    padding:10px;
    height: 265px;
    border: 1px solid #e2e2e2;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   background: lightblue;
}

.questionBox h5 {
    margin-left: 10px;
}

.questionsParagraph {
    overflow: hidden;
    height: 120px;
}

.thumbsUp {
    height: 16px;
    margin-top: -5px;
}

.thumbsDown {
    height: 16px;
    margin-top: -5px;
}

.thumbUpBtn {
    margin-right: 5px;
    background: white;
    border: 1px solid #e2e2e2;/* Make icon smaller for responsivnes on all screens
    padding: 3px 6px;
    height: 32px; */
}

.thumbDwnBtn {
    background: white;
    border: 1px solid #e2e2e2;/* Make icon smaller for responsivnes on all screens
    padding: 3px 6px;
    height: 32px; */
}

.readMore {
    display: block;
    font-size: 12px;
}