.RegisterPage {
    height: 100vh;
    background: #f5f5f5;
}
.form-register {
    text-align: center;
    padding-top:60px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}
.form-register label {
    font-weight: bold;
}
.form-register a {
    color: #656565;
    text-decoration: none;
}
.form-register a:hover {
    color: #464646;
}